vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-6UM13AC\\owner
vti_modifiedby:SR|DESKTOP-6UM13AC\\owner
vti_timelastmodified:TR|26 Apr 2020 12:02:20 -0000
vti_timecreated:TR|24 Apr 2020 14:30:45 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ολγα2020/ATEI\\ 2020/EARINO\\ 2020/HTML-SITE/SITE_TEELIKO/style2.html ολγα2020/ATEI\\ 2020/EARINO\\ 2020/HTML-SITE/SITE_TEELIKO/try.html
vti_nexttolasttimemodified:TW|26 Apr 2020 12:00:23 -0000
vti_cacheddtm:TX|26 Apr 2020 12:02:20 -0000
vti_filesize:IR|6835
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css S|8.jpg S|8.jpg S|astro4.gif
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css FSUS|ολγα2020/ATEI\\ 2020/EARINO\\ 2020/HTML-SITE/SITE_TEELIKO/8.jpg FSUS|ολγα2020/ATEI\\ 2020/EARINO\\ 2020/HTML-SITE/SITE_TEELIKO/8.jpg FSUS|ολγα2020/ATEI\\ 2020/EARINO\\ 2020/HTML-SITE/SITE_TEELIKO/astro4.gif
